.hero_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 9vh 0vw 6vh 0vw;
    line-height: 10vw;
}
.renglon_inferior{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.hero_grande{
    font-size: 1.94em;
}
.hero_pequeño{
    font-size: 1.2em;
    margin-left: 5vw;
}
.fuente_ubuntu.hero_grande{
    font-size: 2.3em;
}