nav{
    position: relative;
    width: 100vw;
}
.nav_container{
    height: 7vh;
    min-height: 55px;
    width: 100vw;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    position: fixed;
    backdrop-filter:blur(4px);
    mix-blend-mode: hard-light;
}
#logo{
    z-index:5;
    margin-left: 2vw;
}
.iconoHamburguesa{
    font-size: 1.5em;
    margin: 1.4vh 10vw;
}